<table class="table table-bordered" style="width: 70%">
<thead>
	<tr>
		<th style="vertical-align: middle;">No. Mesin</th>
		<th style="vertical-align: middle;">Shift</th>
		<th style="vertical-align: middle;">Target Produksi Kg</th>
		{% if tanggal|length > 0 %}
			<th style="vertical-align: middle;">Scrap</th>
			<!--
			<th style="vertical-align: middle;">Lost</th>
			-->
			<th style="vertical-align: middle;">End Butt</th>
			<th style="vertical-align: middle;">Operator 1</th>
			<th style="vertical-align: middle;">Operator 2</th>
			<th style="vertical-align: middle;">Tools</th>
		{% endif %}
	</tr>
</thead>
<tbody>
	{% if grid_data %}
	{% for key, grid_row in grid_data %}
	<tr>
		<td>{{ grid_row.MachineId }}</td>		
		<td>{{ grid_row.ShiftNo }}</td>		
		<td>{{ sum_target_section(header, grid_row.MachineId, grid_row.ShiftNo, tgl) }}</td>
		{% if tanggal|length > 0 %}

			{% set scrap_data = get_lot_scrap(header, tanggal, grid_row.ShiftNo) %}

			<td>
				<input id="shift{{ key + 1 }}" type="hidden" value="{{ grid_row.ShiftNo }}">
				<input class="form-control" id="scrap{{ key + 1 }}" type="text" value="{{ to_decimal(scrap_data['scrap']) }}">
			</td>
			<!--
			<td>
				<input class="form-control" id="lost{{ key + 1 }}" type="text" value="{{ scrap_data['lost'] }}">
			</td>
			-->
			<td>
				<input class="form-control" id="end_butt{{ key + 1 }}" type="text" value="{{ to_decimal(scrap_data['endbutt']) }}">
			</td>
			<td>
				<select class="form-control " name="opr1" id="opr1{{ key + 1 }}">
					<option value="">- Pilih -</option>
					{% if get_operator %}
						{% for row_opr in get_operator %}
							<option value="{{ row_opr.operator_id }}" {% if same(scrap_data['opr1'], row_opr.operator_id ) %} selected="selected" {% endif %}>{{ row_opr.name }}</option>
						{% endfor %}
					{% endif %}
				</select>
			</td>
			<td>
				<select class="form-control " id="opr2{{ key + 1 }}">
					<option value="">- Pilih -</option>
					{% if get_operator %}
						{% for row_opr in get_operator2 %}
							<option value="{{ row_opr.operator_id }}" {% if same(scrap_data['opr2'], row_opr.operator_id ) %} selected="selected" {% endif %}>{{ row_opr.name }}</option>
						{% endfor %}
					{% endif %}
				</select>
			</td>
			<td>
				<button class="btn btn-primary" type="submit" onclick="window.TRANSACTION.handleSaveScrap('#scrap{{ key + 1 }}', '#lost{{ key + 1 }}', '#end_butt{{ key + 1 }}', '#shift{{ key + 1 }}', '#opr1{{ key + 1 }}', '#opr2{{ key + 1 }}')">
					Simpan
				</button>
			</td>
		{% endif %}		
	</tr>
	{% endfor %}
	{% else %}
	<tr>
		{% if tanggal|length > 0 %}
			<td colspan="8">Data tidak tersedia</td>
		{% else %}
			<td colspan="3">Data tidak tersedia</td>
		{% endif %}
	</tr>
	{% endif %}
</tbody>
</table>
