{% extends 'admin/layout.html.twig' %}

{% block content_title %}
{% endblock %}

{% block content %}
	
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        <div class="card card-transaksi" id="spk-card">
	            <div class="header">
	                <h2 style="float: left">
	                    Data SPK
	                </h2>
	                <!--
	                <button class="btn btn-default fullscreen-transaksi" style="float: right">
	            		Lihat Fullscreen
	            	</button>
	            	<button class="btn btn-default fullscreen-transaksi-exit" style="float: right; display:none;">
	            		Exit Fullscreen
	            	</button>
	            	-->
		            <div class="clearfix">&nbsp;</div>
	            </div>


	            <div style="overflow: auto; padding: 5px">


		            <div class="col-md-12 body-width">
						
						<div class="spk-dinamic" style="width: 70%">
							<table class="table table-bordered">
								<tr class="bold">
									<td>No. Mesin</td>
									<td>Shift</td>
									<td>Target Produksi (kg)</td>
								</tr>
								<template v-for="(row_calc , ind_calc) in getShift">
									<tr>
										<td><% row_calc.machine_id %></td>
										<td><% row_calc.shift %></td>
										<td><% row_calc.target_section %></td>
									</tr>
								</template>
							</table>
						</div>
							
						<!--
						<div style="position: absolute; right: 0; top: 0; ">
							<table style="width: 200px">
								<tr>
									<td colspan="3" align="center">
										Navigasi Tabel
									</td>
								</tr>
								<tr align="center">
									<td>
										<a class="kiri" href="javascript:;">
										
											<i class="material-icons">arrow_back</i>
										</a>
									</td>
									<td align="center">
									</td>
									<td>
										<a class="kanan" href="javascript:;">
											<i class="material-icons">arrow_forward</i>
										</a>
									</td>
								</tr>
							</table>
						</div>
						-->
						
		            	<form class="frm-scrap" method="post" action="{{ site_url('admin/dies/save_scrap') }}">
		            	</form>

		            	<br>
		            	<button class="btn btn-primary tambah-transaksi waves-effect" data-header="{{ header_id }}" @click="addRow">
		            		Tambah
		            	</button>
						
						Tanggal : 
						<span>
							<select class="spk-tgl-change" style="padding: 5px;" @change="getDataWithDate">
								<option value="">Semua</option>
								{% if dates %}
									{% for dt in dates %}
										<option>{{ dt|date("d-m-Y") }}</option>
									{% endfor %}
								{% endif %}
							</select> 
						</span>

		            	&nbsp;
		            	<a class="btn bg-grey waves-effect" href="{{ site_url('admin/spk') }}">
		            		
		            		Ke Halaman Filter List
		            	</a>


		            	<!--
		            	<button class="btn btn-danger hapus-transaksi">
		            		Hapus
		            	</button>
						-->
		            	
		            	<br>
		            	<br>
		            	<span style="font-size: 12px; color: #333;padding: 5px; background: #EEE">
		            		Silahkan pilih <b>Tanggal</b> untuk mengisi Scrap & End Butt
		            	</span>

		            	<br>

		            	<input class="header-id" type="hidden" value="{{ header_id }}">
		            	<input class="machine-id" type="hidden" value="{{ machine_id }}">

		            	<br>
		            	<br>
						
						<table class="table table-bordered table-striped table-hover spk-table">
		                	<thead>
		                		<tr class="bold font-12" align="center" style="vertical-align: middle;">
		                			<td></td>
		                			<td></td>
									<td>Tanggal</td>
									<td>Shift</td>
									<td>Section <br> Name</td>
									<td>Section  <br> Id</td>
									<td>Len <br> (m)</td>
									<td>Finishing</td>
									<td>Index <br> Dies</td>
									<td>
										Target Prod <br>
										(Billet)
									</td>
									<td>
										PPIC <br>
										Note
									</td>
									<td>
										Target Prod <br>(btg)
									</td>
									<td>Berat Std</td>
									<td>Target <br> Section (kg)</td>
									<td>Die <br> Type</td>
									<td></td>
		                		</tr>
		                		<tr class="spk-loader">
		                			<td colspan="15" v-show="loading" align="center">
		                				<img src="{{ base_url('assets_app/images/loader.gif') }}" style="width: 20px;" >
		                			</td>
		                		</tr>
		                	</thead>
		                	<tbody>
		                		<template v-for="(spk, index) in list">
		                			<tr class="font-12">
		                				<td align="right"><% index + 1 %>.</td>
		                				<td>
		                					<span v-html="spk.button">
		                					</span>
		                				</td>
		                				<td @click="editRow(index)"><% spk.tanggal %></td>
		                				<td @click="editRow(index)"><% spk.shift %></td>
		                				<td @click="editRow(index)"><% spk.section_name %></td>
		                				<td @click="editRow(index)"><% spk.section_id %></td>
		                				<td @click="editRow(index)" align="right"><% spk.len %></td>
		                				<td @click="editRow(index)"><% spk.finishing %></td>
		                				<td @click="editRow(index)"><% spk.dies %></td>
		                				<td @click="editRow(index)" align="right"><% spk.target_prod %></td>
		                				<td @click="editRow(index)"><% spk.ppic %></td>
		                				<td @click="editRow(index)" align="right"><% spk.target_prod_btg %></td>
		                				<td @click="editRow(index)" align="right"><% spk.weight_standard %></td>
		                				<td @click="editRow(index)" align="right"><% spk.target_section %></td>
		                				<td @click="editRow(index)"><% spk.die_type %></td>
		                				<td>
		                					<span v-if="spk.posted"></span>
		                					<button class="btn btn-danger btn-xs waves-effect" data-toggle="tooltip" title="Hapus Spk" @click="removeRow(index)" v-else="spk.posted">
		                						<i class="material-icons">delete</i>
		                					</button>
		                				</td>
		                			</tr>
		                		</template>
		                	</tbody>
		                </table>
		            </div>

	            </div>

	            <div class="modal fade spk-modal" role="dialog">
			    <div class="modal-dialog modal-lg" style="margin: 20px auto;">
			        <div class="modal-content">
			           	<div class="modal-header">
						    <h4 class="modal-title pull-left" id="defaultModalLabel">
						    	Form SPK
						    </h4>

							<button class="pull-right btn bg-grey waves-effect"  data-dismiss="modal" type="button" style="margin-left: 10px;">BATAL</button>
							<button class="pull-right btn btn-primary waves-effect spk-close-modal" type="button" >SIMPAN</button>

						</div>
						<div class="modal-body">
						
							<form class="spk-form" method="post" action="{{ site_url('admin/spk/save') }}">
								<div class="row clearfix">

								<div class="col-md-3">
									<div class="form-group">
										<label>Tanggal</label>

										<input class="spk-detail-id" name="master_detail_id" type="hidden" v-model="detail_id">
										<input class="spk-type" name="type" type="hidden" v-model="type">

										<select class="form-control" name="tanggal" v-model="tanggal" required="">
											<option value="">- Pilih Tanggal -</option>
											{% if tanggal_data %}
												{% for tanggal_row in tanggal_data %}
													<option>{{ tanggal_row.value }}</option>
												{% endfor %}
											{% endif %}
										</select>
									</div>

									<div class="form-group">
										<label>Shift</label>
										<select class="form-control" name="shift" v-model="shift">
											{% if shift_data %}
												{% for shift_row in shift_data %}
													<option value="{{ shift_row.ShiftRefId }}">{{ shift_row.ShiftDescription }}</option>
												{% endfor %}
											{% endif %}
										</select>
									</div>

								</div>

								<div class="col-md-3">

									<div class="form-group">
										<label>Section Name</label>
										<select class="form-control spk-section-name" name="section_id" v-model="section_id">
											{% if section_data %}
												{% for section_row in section_data %}
													<option value="{{ section_row.SectionId }}">{{ section_row.SectionDescription }}</option>
												{% endfor %}
											{% endif %}
										</select>
									</div>

									<div class="form-group">
										<label>Section Id</label> 
										<br>
										<span class="spk-section-id">
											<% section_id %>
										</span>
									</div>
									
								</div>

								<div class="col-md-3">
									
									<div class="form-group">
										<label>Len </label>
										<select class="form-control spk-len" name="len">
										</select>
									</div>

									<div class="form-group">
										<label>PPIC Note</label>
										<input class="form-control" name="ppic" type="text" v-model="ppic">
									</div>
									
								</div>

								<div class="col-md-3">
								
									<div class="form-group">
										<label>Finishing</label>
										<select class="form-control" name="finishing">
											{% if finishing_data %}
												{% for finishing_row in finishing_data %}
													<option value="{{ finishing_row.finishing_id }}">{{ finishing_row.finishing_name }}</option>
												{% endfor %}
											{% endif %}
										</select>
									</div>

									<div class="form-group">
										<label>Target Prod (Billet) *</label>
										<input class="form-control" name="target_prod" type="text" v-model="target_prod" required="">
									</div>

								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label>Index Die *</label>
										<select class="form-control spk-dies spk-select" name="dies[]" multiple="multiple" required="">
										</select>
									</div>						
								</div>
								

							</form>

						</div>
			        </div>
			    </div>
			    </div>


	        </div>
	    </div>
	 </div>
    

    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 90%; margin: 20px auto;">
        <div class="modal-content content-modal-transaksi">
            
        </div>
    </div>
    </div>

{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script type="text/javascript" src="{{ base_url('assets_app/js/transaction.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets_app/js/spk.js') }}"></script>
	<script type="text/javascript">
		//window.TRANSACTION.handleDatatable();
		//window.TRANSACTION.handleModal();
		
		//window.TRANSACTION.handlejqGrid();
		//window.TRANSACTION.handleDelete();
		//window.TRANSACTION.handleAddRow();
		//window.TRANSACTION.handleSaveScrap();
		//window.TRANSACTION.handleFullscreen();
		//window.TRANSACTION.handleGridUpDinamic();
		window.SPK.init();
	</script>

{% endblock %}