{% extends 'admin/layout.html.twig' %}

{% block content_title %}
	LAPORAN SPK
{% endblock %}

{% block content %}
	
	<div class="row clearfix">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	        <div class="card">
	            <div class="header">
	                <h2>
	                    Form Filter Laporan SPK
	                </h2>
	            </div>
	            <div class="body">
	                
	                <form class="report-form" method="POST" action="{{ site_url('admin/report/search') }}" target="_blank">

                		<label for="email_address">Mulai Tanggal</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input  class="form-control report-date-start" name="date_start" type="text">
                            </div>
                        </div>

                        <label>Sampai Tanggal</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input  class="form-control report-date-finish" name="date_finish"  type="text">
                            </div>
                        </div>

                        <label for="email_address">Shift</label>
                        <div class="form-group">
                            <div class="form-line">
                                 <select  class="form-control" name="shift">
                                    <option value="">-silihkan pilih-</option>
                                    {% if shifts %}
                                        {% for shift in shifts %}
                                            <option value="{{ shift.ShiftNo }}">{{ shift.ShiftDescription }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        <label for="email_address">Mesin</label>
                        <div class="form-group">
                            <div class="form-line">
                                <select  class="form-control" name="mesin">
                                    <option value="">-silihkan pilih-</option>
                                    {% if machines %}
                                        {% for machine in machines %}
                                        	<option value="{{ machine.MachineId }}">{{ machine.MachineId }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        <label for="email_address">Section Id</label>
                        <div class="form-group">
                            <div class="form-line">
                                <select  class="form-control" name="section">
                                	<option value="">-silihkan pilih-</option>
                                    {% if sections %}
                                        {% for section in sections %}
                                            <option value="{{ section.SectionId }}">{{ section.SectionId }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary m-t-15 waves-effect" name="action" style="float: left" value="layar">
                        	Submit
                        </button>
                        <!--<button type="submit" class="btn btn-success m-t-15 m-l-10 waves-effect" name="action" style="float: left" value="excel">
                        	Excel
                        </button>-->

                        <div class="preloader pl-size-xs m-t-15 m-l-10" style="float: left; display: none;">
                            <div class="spinner-layer pl-teal">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
		                <div class="clearfix">&nbsp;</div>
                    </form>


	            </div>
	        </div>
	    </div>
	 </div>

{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script type="text/javascript" src="{{ base_url('assets_app/js/report.js') }}"></script>
	<script type="text/javascript">
		window.REPORT.init();
	</script>

{% endblock %}