<!DOCTYPE html>
<html>
	<head>
		<title>View Reporting</title>
	</head>
	<link href="{{ base_url('assets_app/fonts/roboto-v15/font.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ base_url('assets_app/fonts/material-icons/font.css') }}" rel="stylesheet" type="text/css"> 
    <link href="{{ base_url('web/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ base_url('web/vendor/plugins-admin/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css') }}" rel="stylesheet">
    <style type="text/css">
	     @media print{@page {size: landscape}}
	     .bg-gray {
	     	background: #DDD;
	     }
	</style>

	<body>

		<div class="row">
		</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-info button-action">
				<button class="btn btn-primary report-print">Print</button>
				<a href="{{ site_url('admin/dashboard') }}" class="btn btn-danger">Kembali</a>
				<a href="javascript:;" class="btn btn-info" data-toggle="modal" data-target="#defaultModal">Filter</a>
				<a href="{{ site_url('admin/report') }}" class="btn btn-info">UnFilter</a>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">

				<table style="width: 100%">
					<tr>
						<td valign="bottom">
							<h2>
								Mesin 1150T
							</h2>
						</td>

						<td valign="bottom">
							<h2>
								SPK-1 <u>&nbsp;&nbsp;&nbsp;SPK Extrusion&nbsp;&nbsp;&nbsp;</u>
							</h2>
						</td>

						<td valign="bottom">
							<h2>
								Machine ID
							</h2>
						</td>
					</tr>
				</table>

				<br>

				<!--
				<table border="0" style="width: 100%">
					<tr>
						<th width="200">Std Jam Kerja:</th>
						<th width="150">720 mnt</th>
						<th width="300" style="text-align: right;">Total pemakaian billet (kg):</th>
						<th width="100" style="padding-left: 15px;">51,363 kg</th>
						<th width="150" style="text-align: right;">Berat scrap:</th>
						<th width="100" style="padding-left: 10px;">5,517 kg</th>
						<th width="100" style="text-align: right;">Loss (kg):</th>
						<th width="100" style="padding-left: 15px;">552 kg</th>
					</tr>
					<tr>
						<th>Jam Produktif:</th>
						<th>(228) mnt</th>
						<th style="text-align: right;">Total hasil produksi (kg):</th>
						<th style="padding-left: 15px;">42,774 kg</th>
						<th style="text-align: right;">Berat end-butt:</th>
						<th style="padding-left: 15px;">2,520 kg</th>
						<th style="text-align: right;">Loss (%):</th>
						<th style="padding-left: 15px;">1.08%</th>

					</tr>
					<tr>
						<th>Jam non-efektif:</th>
						<th>948 mnt(131.7%)</th>
					</tr>
				</table>
				-->
								
				


				<br>

				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="bg-gray" colspan="21">Sum Of Target Prod (Billet)</th>
						</tr>
						<tr class="bg-gray">
							<th style="vertical-align: middle;">Sh</th>
							<th style="vertical-align: middle;">Lot</th>
							<th style="vertical-align: middle;">Section Id</th>
							<th style="vertical-align: middle;">Section Name</th>
							<th style="vertical-align: middle;">Finishing</th>
							<th style="vertical-align: middle;">Tbl</th>
							<th style="vertical-align: middle;">Tol</th>
							<th style="vertical-align: middle;">Hole</th>
							<th style="vertical-align: middle;">Berat Std</th>
							<th style="vertical-align: middle;">PPIC Note</th>
							<th style="vertical-align: middle;">Bolster</th>
							<th style="vertical-align: middle;">Pull Awal</th>
							<th style="vertical-align: middle;">BS Blkg</th>
							<th style="vertical-align: middle;">P Tarik</th>
							<th style="vertical-align: middle;">H Jadi</th>
							<th style="vertical-align: middle;">BltMax</th>
							<th style="vertical-align: middle;">BltVen</th>
							<th style="vertical-align: middle;">SecName</th>
							<th style="vertical-align: middle;">FrBlt</th>
							<th style="vertical-align: middle;">FrPot</th>
							<th style="vertical-align: middle;">Total</th>

						</tr>
					</thead>

					<tbody>
						{% if search_data %}
						{% for no, row_data in search_data %}

						{% set total_btg = row_data.WeightStandard * row_data.target_prod * row_data.Length %}
						{% set total_btg_arr = [] %}
						{% set total_btg_arr = total_btg_arr|merge([total_btg]) %}

						{% set target_btg = row_data.target_prod %}
						{% if row_data.f2_estfg != '' %}
							{% set target_btg = row_data.f2_estfg * row_data.target_prod %}
						{% endif %}

						<tr>
							<td>{{ no + 1 }}.</td>
							<td>{{ row_data.tanggal|date('D, j/M/y') }}</td>
							<td>{{ row_data.shift }}</td>
							<td>{{ row_data.section_id }}</td>
							<td>{{ row_data.SectionDescription }}</td>
							<td>{{ row_data.machine_type }}</td>
							<td>{{ row_data.billet_id }}</td>
							<td>{{ row_data.Length }}</td>
							<td>{{ row_data.finishing_name }}</td>
							<td>{{ row_data.target_prod }}</td>
							<td>{{ convert_dice(row_data.index_dice) }}</td>
							<td>{{ count_dice(row_data.index_dice) }}</td>
							<td>{{ row_data.ppic_note }}</td>
							<td>{{ target_btg }}</td>
							<td>{{ row_data.weight_standard }}</td>
							<td>{{ row_data.weight_standard * target_btg * row_data.Length }}</td>
							<!--
							<td>{{ arr_sum(total_btg_arr) }}</td>
							-->
							<td>{{ row_data.die_type_name }}</td>
							<!--
							<td>{{ row_data.actual_pressure_time }}</td>
							<td>{{ row_data.ShiftStart|date('H:i:s') }}</td>
							<td>{{ get_shift_end(row_data.ShiftStart, row_data.actual_pressure_time, row_data.target_prod) }}</td>
							<td>-</td>
							-->
							<!--
							<td>{{ row_data.hari_ke }}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							-->
						</tr>
						{% endfor %}
						{% else %}
						<tr>
							<td colspan="65"> Data tidak tersedia.</td>
						</tr>
						{% endif %}
					</tbody>
					<tfoot>
						<tr>
							<th class="bg-gray" colspan="20">Grand Total</th>
							<th class="bg-gray" colspan="20">Jumlah Blt</th>
						</tr>
					</tfoot>
			</table>

		</div>


		<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
	    <div class="modal-dialog modal-md">
	        <div class="modal-content content-modal-spk">
		        <div class="modal-header">
		        </div>
	        	<div class="modal-body">

	        		<div class="row clearfix">

	        		<div class="col-md-12">

		        	<form action="{{ site_url('admin/report/index') }}" method="post">
		        		<div class="form-group">
		        			<label>Machine</label>
			                    	
		                    <select class="form-control" name="machine">
		                        <option value="">-- Silahkan Pilih --</option>
		                        {% if machine_data %}

		                        	{% for machine_row in machine_data %}

		                        		<option value="{{ machine_row.MachineId }}" {% if same(machine_id, machine_row.MachineId) %} selected="selected" {% endif %}>
		                        			{{ machine_row.MachineId }}
		                        		</option>
		                        	{% endfor %}

		                        {% endif %}
		                    </select>	

		        		</div>

		        		<div class="form-group">

		        			<label>Tanggal</label>
		        			<input class="form-control report-date-start" name="tanggal" value="{{ date_now }}">
		                </div>

		                <div class="form-group">

		        			<label>Shift</label>
			                    	
		                    <select class="form-control" name="shift">
		                        <option value="0">-- Silahkan Pilih --</option>
		                        {% if shift_data %}

		                        	{% for shift_row in shift_data %}

		                        		<option value="{{ shift_row.ShiftNo }}" {% if same(shift, shift_row.ShiftNo) %} selected="selected" {% endif %}>
		                        			{{ shift_row.ShiftDescription }}
		                        		</option>
		                        	{% endfor %}

		                        {% endif %}
		                    </select>

		        		</div>


		        		<div class="form-group">
		        			<input class="btn btn-primary" value="Submit" type="submit">
		        		</div>
		        	</form>

		        	</div>
		        	</div>

		        </div>
		        </div>


	    </div>
	    </div>

		

	</body>

    <script src="{{ base_url('web/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ base_url('web/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ base_url('web/vendor/plugins-admin/momentjs/moment.js') }}"></script>
    <script src="{{ base_url('web/vendor/plugins-admin/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') }}"></script>
    <script src="{{ base_url('assets_app/js/report.js') }}"></script>

    <script type="text/javascript">
	    $(document).ready(function() {
			$('.report-print').click(function() {
				window.print();
				return false;
			});
			$('.report-close').click(function() {
				window.close();
				return false;
			});
	    });

	    /**
		 * function detect windows print
		 */

		var beforePrint = function() {
			$('.button-action').hide();
		};
		var afterPrint = function() {
			$('.button-action').show();
		};

		if (window.matchMedia) {
			var mediaQueryList = window.matchMedia('print');
			mediaQueryList.addListener(function(mql) {
			    if (mql.matches) {
			        beforePrint();
			    } else {
			        afterPrint();
			    }
			});
		}

		window.onbeforeprint = beforePrint;
		window.onafterprint = afterPrint;

		window.REPORT.handleDatepicker();

	</script>



</html>