{% extends 'admin/layout.html.twig' %}

{% block content_title %}
{% endblock %}

{% block content %}
		
	<div class="row clearfix">
	    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        <div class="card card-transfer">
	            <div class="header">
	                <h2>
	                    Transfer Billet ke Aging Oven
	                </h2>
	                <ul class="header-dropdown m-r--5">
	                    
	                </ul>
	            </div>
	            <div class="body">
	                <div class="row clearfix">
	                    
	                    <div class="col-md-4">

	                    	<div class="form-group">

	                    		<div class="form-group">
                                    <label>Tanggal</label>
                                    <br>
                                            
                                    <input class="date-bootstrap transfer-date" name="tanggal" type="text" style="padding: 5px;" value="{{ date_now|date('d/m/Y') }}" required="required"/>   

                                </div>

	                    		<!--
	                    		<label>Lot Tiket</label>
	                    		<select class="form-control transfer-lot" required="" @change="getDataWithChange">
	                    			<option value=""> - Pilih -</option>
	                    			{% if lot_data %}
		                    			{% for lot_row in lot_data %}
		                    				<option value="{{ lot_row.header_lot_id }}"> Lot Tiket {{ lot_row.header_lot_id }}</option>
		                    			{% endfor %}
	                    			{% endif %}
	                    		</select>
	                    		-->



	                    	</div>

	                    	<div class="form-group">
	                    		<button class="btn btn-primary waves-effect" @click="getDataWithButton">Proses Data</button>
	                    	</div>

	                    </div>

	                    <div class="col-md-12">

	                    <table class="table table-stripped table-bordered" style="width: 50%">
	                    	<thead>
	                    		<tr>
	                    			<td class="bold">No. </td>
	                    			<td class="bold">Rak </td>
	                    			<td class="bold">Quantity Extrusion</td>
	                    			<td class="bold">Konfirmasi</td>
									<td class="bold">Lebih/(kurang)</td>
									<!--<td class="bold">Tools</td>-->
	                    		</tr>
	                    	</thead>
	                    	<tbody>
								<template v-for="(row, idx) in list" :key="idx">
									<tr>
										<td><% idx + 1 %></td>
										<td><% row.rak %></td>
										<td><% row.jumlah_billet %></td>
										<td>
											<input class="form-control" :id="'transfer-jumlah-aging' + idx" type="text" onkeydown="window.INPUT.numberingKeyDown(event, this)" v-model="row.jumlah_aging" @change="saveAgingLot(idx)">
										</td>
										<td v-html="counting[idx]"></td>
										<!--<td>
											<button class="btn btn-xs bg-purple waves-effect" @click="setPosted(idx)">Posting</button>
										</td>-->
									</tr>
								</template>
								<tr class="transfer-no-data not-show">
									<td colspan="4">Data tidak tersedia.</td>
								</tr>
	                    	</tbody>
	                    </table>

	                    </div>

	                </div>
	            </div>
	        </div>
	    </div>
	</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script type="text/javascript" src="{{ base_url('assets_app/js/date.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets_app/js/transfer.js') }}"></script>
	<script type="text/javascript">
		window.TRANSFER.init();
		window.DATE.init();
	</script>
{% endblock %}