	<link href="{{ base_url('assets_app/css/new.style.css') }}" rel="stylesheet" type="text/css">

	<style type="text/css">
		.tbl-cstm tr td{
			border: 1px solid #CCC;
			padding: 5px;
		}
	</style>
	{% set section_id = '' %}
	{% set machine = '' %}
	{% set len_id = '' %}
	{% set len = '' %}

	{% if get_detail %}
		{% set len_id = get_detail.len %}
		{% set len = get_detail.Length %}
		{% set section_id = get_detail.section_id %}
		{% set machine = get_detail.MachineId %}
	{% endif %}

	<div class="modal-header">
	    <h4 class="modal-title pull-left" id="defaultModalLabel">
	    	Form Transaksi Lot
	    </h4>


		<button class="pull-right btn btn-link waves-effect close-modal" type="button" data-dismiss="modal">CLOSE</button>

		<div class="pull-right" style="padding-right: 200px;">
		    <button class="btn btn-info btn-posting-lot" datasa-toggle="modal" daasta-target=".defaultModal">
		    	Posting
		    </button>
	    </div>

	</div>
	<div class="modal-body">

		<form class="form-header-lot" method="post" action="{{ site_url('admin/lot/save_header') }}">

		<input class="master-detail-id" name="master_detail_id" type="hidden" value="{{ master_detail_id }}">


		<table class="tbl-cstm" style="width: 100%;">
			<tr>
				<td style="width: 150px;">
					<label>Mesin</label>
				</td>
				<td style="width: 250px;">
					{{ machine }}
				</td>
				<td>
					<!--<label>Operator 1</label>-->
					<!--<label>Scrap</label>-->
					<label>Len</label>
				</td>
				<td style="width: 250px;">
					<span class="lot-length">
						{{ to_decimal(len) }}
					</span>

					<!--
					<div class="row clearfix">
						<div class="col-md-8">
	                        <input class="form-control" name="scrap" type="text" value="{% if get_detail_header %}{{ get_detail_header.scrap }}{% endif %}">
						</div>
						<div class="col-md-4" style="margin-top: 5px; margin-left: -25px;">
							kg
						</div>
					</div>
					-->
					<!--<select class="form-control " name="opr1">
						<option value="">- Pilih -</option>
						{% if get_operator %}
							{% for row_opr in get_operator %}
								<option value="{{ row_opr.operator_id }}" {% if same(get_detail_header.opr1, row_opr.operator_id ) %} selected="selected" {% endif %}>{{ row_opr.name }}</option>
							{% endfor %}
						{% endif %}
					</select>-->
				</td>
				<td style="width: 150px;">
					<label>Dies Index Used</label>
				</td>
				<td style="width: 250px;">
					<select class="index-dice" name="index_dice[]" multiple="">
					</select>
					{% set index_used = '' %}
					{% if get_detail %}
						{% set index_used = convert_dice(get_detail.index_dice) %}
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					<label>Tanggal</label>
				</td>
				<td>
					{% if get_detail %} {{ get_detail.tanggal|date("d-m-Y") }} {% endif %}
				</td>
				<td>
					<!--<label>Operator 2</label>-->
					<!--<label>Pot End Butt</label>-->
					<label>Billet Weight</label>
				</td>
				<td>
					<!-- berat standard -->
					<span id="berat-standard" style="display: none;">
						{{ to_decimal(get_row_master('WeightStandard', machine, section_id, len_id)) }}
					</span>

					<!-- billet weight -->
					<span class="billet-weight">
						{{ to_decimal(get_detail_machine(machine, 'BilletWeight')) }}
					</span>

					<!--
					<div class="row clearfix">
						<div class="col-md-8">
                            <input class="form-control" name="potendbutt" type="text" value="{% if get_detail_header %}{{ get_detail_header.pot_end_butt }}{% endif %}">
						</div>
						<div class="col-md-4" style="margin-top: 5px; margin-left: -25px;">
							kg
						</div>
					</div>
					-->
					<!--<select class="form-control" name="opr2">
						<option value="">- Pilih -</option>
						{% if get_operator2 %}
							{% for row_opr in get_operator2 %}
								<option value="{{ row_opr.operator_id }}" {% if same(get_detail_header.opr2, row_opr.operator_id ) %} selected="selected" {% endif %}>{{ row_opr.name }}</option>
							{% endfor %}
						{% endif %}
					</select>-->
				</td>
				<td>
					<button class="btn btn-success btn-mulai-pukul" type="button">
						Mulai Pukul
					</button>
				</td>
				<td>
					{% set mulai = "00:00" %}
					{% set mulai_str = "" %}
					{% if get_detail_header %}
						{% set mulai_str = get_detail_header.time_start %}
						{% if mulai_str != "" %}
							{% set mulai = trims(get_detail_header.time_start) %}
						{% endif %}
					{% endif %}
					<input class="form-control input-mulai-pukul" name="time_start" type="text" value="{{ mulai_str }}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Shift</label>
				</td>
				<td>
					{% if get_detail %} {{ get_detail.ShiftNo }} {% endif %}
				</td>
				<td>
					<label>Pull Awal</label>
				</td>
				<td>
					{{ to_decimal(get_row_master('InitialPullingLength', machine, section_id, len_id)) }}
				</td>
				<td>
					<button class="btn btn-danger btn-selesai-pukul" type="button">
						Selesai Pukul
					</button>
				</td>
				<td>
					{% set selesai = "00:00" %}
					{% set selesai_str = "" %}
					{% if get_detail_header %}
						{% set selesai_str = get_detail_header.time_finish %}
						{% if selesai_str != "" %}
							{% set selesai = trims(get_detail_header.time_finish) %}
						{% endif %}
					{% endif %}
					<input class="form-control input-selesai-pukul" name="time_finish" type="text" value="{{ selesai_str }}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Section Name</label>
				</td>
				<td>
					{% if get_detail %} {{ get_detail.SectionDescription }} {% endif %}
				</td>
				<td>
					<label>Pull Awal Actual</label>
				</td>
				<td>

					<input class="form-control" name="pull_awal_actual" type="text" value="{% if get_detail_header %}{{ get_detail_header.pull_awal_actual }}{% endif %}">
				</td>
				<td>
					<label>Lama Produksi</label>
				</td>
				<td>
						<div class="div-selisih-waktu">
					{% if selesai_str != " " %}
							{{ selisih_waktu(get_detail.tanggal ~ ' '~ selesai ~ ':00', get_detail.tanggal ~ ' '~ mulai ~ ':00') }}
					{% endif %}
						</div>
				</td>
			</tr>
			<tr>
				<td>
					<label>Target Prod (Billet)</label>
				</td>
				<td>
					{% if get_detail %} {{ get_detail.target_prod }} {% endif %}
				</td>
				<td>
					<label>Bs. Blkg</label>
				</td>
				<td>
					{% if get_master_query %}
					{{ to_decimal(get_master_query.BadEndLength) }}
					{% endif %}
				</td>
				<td>
					<label>Downtime</label>
				</td>
				<td>
					<input class="form-control" name="downtime" type="text" value="{% if get_detail_header %}{{ get_detail_header.downtime }}{% endif %}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Panjang Billet Max</label>
				</td>
				<td>
					{{ to_decimal(get_row_master('F2_BilletLengthTotalMax', machine, section_id)) }}
				</td>
				<td>
					<label>Bs. Blkg Actual</label>
				</td>
				<td>
					<input class="form-control" name="blkg_actual" type="text" value="{% if get_detail_header %}{{ get_detail_header.blkg_actual }}{% endif %}">
				</td>
				<td>
					<label>DeadCycle</label>
				</td>
				<td>
					<input class="form-control" name="deadcycle" type="text" value="{% if get_detail_header %}{{ get_detail_header.deadcycle }}{% endif %}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Panjang Billet Actual Terakhir</label>
				</td>
				<td>
					{{ get_last_billet_actual('', machine, section_id) }}
				</td>
				<td>
					<label>Pressure Bar</label>
				</td>
				<td>
					<input class="form-control" name="pressure_bar" type="text" value="{% if get_detail_header %}{{ get_detail_header.pressure_bar }}{% endif %}">
				</td>
				<td>
					<label>Ram Speed</label>
				</td>
				<td>
					<input class="form-control" name="ram_speed" type="text" value="{% if get_detail_header %}{{ get_detail_header.ram_speed }}{% endif %}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Weight Upper Limit</label>
				</td>
				<td>
					<span class="weight-upperlimit">{{ to_decimal(get_effective_item_dimension(section_id)) }}</span>
				</td>
				<td class="bold">
					Berat Std
				</td>
				<td>
					{{ to_decimal(get_row_master('WeightStandard', machine, section_id, len_id)) }}
				</td>
				<td>
					<label>Keterangan Ext</label>
				</td>
				<td>
					<textarea class="form-control" name="keterangan">{% if get_detail_header %}{{ get_detail_header.keterangan }}{% endif %}</textarea>
				</td>
			</tr>
		</table>
		</form>

		<div style="overflow: auto">
			<br>

			<!--
			<table class="list-lot table table-hovered" id="list-lot" cellpadding="0" cellspacing="0" style="width: 100%">
			</table>
			<div class="opr-lot" id="pager-lot" style="text-align:center;"></div>
			-->
			<br>
			<br>

			<table class="tbl-cstm list-lot-new" id="list-lot-new" cellpadding="0" cellspacing="0" style="width: 100%">
				<thead>
					<tr>
						<td colspan="9">
							<center>
								<b>DATA SPK LOT</b>
							</center>
						</td>
					</tr>
					<tr align="">
						<td valign="top">

							<table class="tbl-cstm" id="tbl-lot-billet" style="width: 100%;">
								<tr >
									<td align="center">
										<b>BILLET</b>
									</td>
									<td colspan="5">
										<button class="btn btn-primary" @click="addNewRowBillet">Tambah</button>
									</td>
								</tr>
								<tr align="center">
									<td>
										P. Billet <br> Actual (cm)
									</td>
									<td>
										Jumlah<br>Billet (pcs)
									</td>
									<td>
										Billet <br> VendorId
									</td>
									<td>
										Ket
									</td>
									<td>
										Jumlah Billet (kg)
									</td>
									<td></td>
								</tr>
								<template
								v-for="(billet, idxbillet) in billets"
								is="billet-item"
								v-bind:key="billet"
								v-bind:title="billet"
								v-on:remove="removeRowBillet(idxbillet)">
								<tr >
									<td>
										<input type="text" v-model="billet.pBilletActual" class="form-control" @change="saveBillet2(billet)">
									</td>
									<td>
										<input type="text" v-model="billet.jmlBillet" class="form-control" @change="saveBillet2(billet)">
									</td>
									<td>
									<!--
										<input type="text" v-model="billet.billetVendorId" class="form-control" @keyup.enter="saveBillet(billet)">
									-->
									<select v-model="billet.billetVendorId" @change="saveBillet2(billet)">

										{% for vendor_lot_row in vendor_lot_data %}
											<option>{{ vendor_lot_row }}</option>
										{% endfor %}
									</select>
									</td>
									<td>
										<input type="text" v-model="billet.keterangan" class="form-control" @change="saveBillet2(billet)">
									</td>
									<td>
										<% jumlahBillet[idxbillet] %>
									</td>
									<td>
										<!--
										<button class="btn btn-success btn-xs" @click="saveBillet(billet)" title="Simpan">
											<i class="material-icons">check</i>
										</button>
										-->
										<button class="btn btn-danger btn-xs" style="margin-top: 5px;" @click="removeRowBillet(idxbillet)" title="Hapus">
											<i class="material-icons">delete</i>
										</button>
									</td>

								</tr>

								</template>
								<tr>
									<td>
										<% totalPBilletActual %>
									</td>
									<td>
										<% totalJmlBillet %>
									</td>
									<td></td>
									<td></td>
									<td>
										<span id="total-billet">
											<% totalBillet %>
										</span>
									</td>
									<td></td>
								</tr>
							</table>

						</td>

						<td valign="top">
							<table class="tbl-cstm" id="tbl-lot-berat-aktual" style="width: 100%;">
								<tr>
									<td align="center">
										<b>BERAT AKTUAL</b>
									</td>
									<td colspan="3">
										<button class="btn btn-primary add-berat-actual" @click="addNewRowBeratAktual">Tambah</button>
									</td>

								</tr>
								<tr align="center">
									<!--
									<td>
										Berat<br>Std
									</td>
									-->
									<td>
										Berat<br>Aktual/50 (g)<br>

									</td>
									<td>
										Rata2<br>Aktual/m
										<br>
									</td>
									<td></td>
								</tr>
							<template id="template-berat-actual"
								v-for="(beratAktual, idxBeratktual) in beratAktuals"
									is="berat-actual-item"
									v-bind:key="beratAktual"
									v-bind:title="beratAktual">
								<tr
									>
									  	<!--
									  	<td id="berat-standard2">

										</td>
										-->
										<td>
										<input type="text" v-model="beratAktual.beratAkt" class="form-control inp-berat-akt" @keyup.entaser="saveBeratActual(beratAktual)" @change="saveBeratActual(beratAktual)">
										</td>
										<td>
											<% jmlBeratAktual50[idxBeratktual] %>
										</td>
										<td>
											<!--
											<button class="btn btn-success btn-xs save-berat-actual" @click="saveBeratActual(beratAktual)" title="Simpan">
												<i class="material-icons">check</i>
											</button>

											-->

											<button class="btn btn-danger btn-xs" style="margin-top: 5px;" @click="removeRowBeratAktual(idxBeratktual)" title="Hapus">
												<i class="material-icons">delete</i>
											</button>
										</td>

								</tr>
							</template>
								<tr>
									<td>
										<% totalBeratAktual50 %>
									</td>
									<td class="rata-berat-ak" id="rata-berat-ak">
										<% total %>
									</td>
									<td></td>
								</tr>
							</table>


						</td>

						<td valign="top">
							<table class="tbl-cstm" id="tbl-lot-hasil" style="width: 100%;">
								<tr>
									<td align="center">
										<b>HASIL</b>
									</td>
									<td colspan="3">
										<button class="btn btn-primary" @click="addNewRowHasil">Tambah</button>
									</td>
								</tr>
								<tr align="center">

									<td>
										Rak #
									</td>
									<td>
										Quantity (btg)
									</td>
									<td>Berat (kg)</td>
									<td></td>

								</tr>
								<template v-for="(hasil, idxhasil) in hasils"
									is="hasil-item"
									v-bind:key="hasil"
									v-bind:title="hasil">
								<tr >

									<td>
										<input type="text" v-model="hasil.rak" class="form-control">
									</td>
									<td>
										<input type="text" v-model="hasil.jmlRak" class="form-control" @change="saveHasil(hasil)">
									</td>
									<td>
										<% jumlahQty[idxhasil] %>
									</td>
									<td>
										<!--
										<button class="btn btn-success btn-xs" @click="saveHasil(hasil)" title="Simpan">
											<i class="material-icons">check</i>
										</button>
										-->

										<button class="btn btn-danger btn-xs" @click="removeRowHasil(idxhasil)" title="Hapus">
											<i class="material-icons">delete</i>
										</button>
									</td>

								</tr>
								</template>
								<tr>
									<td></td>
									<td>
										<% totalQty %>
									</td>
									
									<td id="hasil-berat-billet">
										<% totalHasil %>
									</td>
									<td></td>
								</tr>
							</table>
						</td>




					</tr>
				</thead>
			</table>

		</div>

	</div>

	<!-- modal -->
	<div class="modal-demo modal-ajax modal-custombox" style="display: none;">
	    <h4 class="title">
			Perlu Caustic ?
		    <button type="button" class="close">
		        <i class="fa fa-times"></i>
		    </button>

	    </h4>
	    <div class="text">
	        <div style="text-align: center;">
				<a href="#" class="btn btn-primary yes-swal">Ya</a>&nbsp;&nbsp;
				<a href="#" class="btn btn-warning no-swal">Tidak</a>&nbsp;&nbsp;
				<a href="#" class="btn btn-danger problem-swal">Problem</a>&nbsp;&nbsp;
				<div class="select-problem" style="display: block;">
					<select class="list-problem" style="padding: 5px"></select>&nbsp;&nbsp;
					<a href="#" class="btn btn-primary save-swal">Simpan</a>&nbsp;&nbsp;
					<a href="#" class="btn btn-default back-swal">Kembali</a>
				</div>
			</div>
	    </div>
	</div>



<script type="text/javascript" src="{{ base_url('web/vendor/jquery-tag-editor/jquery.caret.min.js') }}"></script>
<script type="text/javascript" src="{{ base_url('web/vendor/jquery-tag-editor/jquery.tag-editor.min.js') }}"></script>
<script type="text/javascript" src="{{ base_url('assets_app/js/lot.js') }}"></script>
<script type="text/javascript">
	//window.LOT.handleJqgrid('.list-lot', '#pager-lot');
	window.LOT.handleAddRow('.add-lot');
	window.LOT.handleTagEditor();
	window.LOT.handleSaveHeaderLot();
	window.LOT.handleNumberInput();
	var el = '.index-dice';
	window.LOT.handleMulaiPukul('.btn-mulai-pukul', '.input-mulai-pukul', el);
	window.LOT.handleSelesaiPukul('.btn-selesai-pukul', '.input-mulai-pukul', '.input-selesai-pukul', '.div-selisih-waktu');
	window.LOT.handlePosting('.btn-posting-lot');

	window.LOT.handleLotBillet('#tbl-lot-billet');
	window.LOT.handleLotBeratAktual('#tbl-lot-berat-aktual');
	window.LOT.handleLotHasil('#tbl-lot-hasil');


	var url = window.APP.siteUrl + 'admin/master/get_data_index_dice/'+"{{ master_detail_id }}"+'/'+ "{{ machine }}" + '';

	$.getJSON(url  , function(data) {

	    var output = "";
	    var defaultValue = "{{ index_used }}";

	    $.each(data, function(key, val) {
	    	if( defaultValue.indexOf(val.value) > -1) {
				selected = 'selected="selected"';
			} else {
				selected = '';
			}
	        output += '<option value="' + val.value + '" '+selected+'>' + val.text + '</option>';
	    });
	    $(el).html(output);

	    //$(el).multipleSelect();

	    $(el).select2({
	        width: "100%",
		});

	});


</script>

{% if mulai_str != "" and mulai_str != " " %}
	<script type="text/javascript">
		$('.index-dice').prop("disabled", true);
	</script>
{% endif %}
