<link href="{{ base_url('web/vendor/jquery-tag-editor/jquery.tag-editor.css') }}" rel="stylesheet">

	<div class="modal-header">
	    <h4 class="modal-title pull-left" id="defaultModalLabel">
	    	Form Transaksi Lot
	    </h4>
		<button class="pull-right btn btn-link waves-effect" type="button" data-dismiss="modal">CLOSE</button>

	</div>
	<div class="modal-body">

		<input class="master-detail-id" type="hidden" value="{{ master_detail_id }}">
	
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Tanggal</th>
					<th>Shift</th>
					<th>Section Name</th>
					<th>Section Id</th>
					<th>Target Prod (Billet)</th>
				</tr>
			</thead>
			<tbody>
				{% if get_detail %}
				<tr>
					<td>{{ get_detail.tanggal|date("d-m-Y") }}</td>
					<td>{{ get_detail.shift }}</td>
					<td>{{ get_detail.SectionDescription }}</td>
					<td>{{ get_detail.section_id }}</td>
					<td>{{ get_detail.target_prod }}</td>
				</tr>
				{% endif %}
			</tbody>
		</table>

		<form class="form-header-lot" method="post" action="{{ site_url('admin/lot/save_header') }}">

		<input class="master-detail-id" name="master_detail_id" type="hidden" value="{{ master_detail_id }}">
		<table class="table table-bordered">
			<tr>
				<td>
					Mesin
				</td>
				<td colspan="7">
					{% if get_detail %} {{ get_detail.MachineId }} {% endif %}
				</td>
			</tr>
			<tr>
				<td>Oprt-1</td>
				<td>
					<input class="form-control tag-editor" name="opr1" type="text" value="{% if get_detail_header %} {{ get_detail_header.opr1 }} {% endif %}">
				</td>
				<td style="padding-left: 50px;">
					Oprt-2
				</td>
				<td>
					<input class="form-control tag-editor" name="opr2" type="text" value="{% if get_detail_header %} {{ get_detail_header.opr2 }} {% endif %}">
				</td>
				<td style="padding-left: 50px;">
					Scrap
				</td>
				<td>
					<div class="col-md-8">
                        <input class="form-control input-number" name="scrap" type="text" value="{% if get_detail_header %} {{ get_detail_header.scrap }} {% endif %}">
					</div>
					<div class="col-md-4" style="margin-top: 5px; margin-left: -25px;">
						kg
					</div>
				</td>
				<td style="padding-left: 50px;">
					Pot End-Butt
				</td>
				<td>
					<div class="row clearfix">
						<div class="col-md-8">
                            <input class="form-control input-number" name="potendbutt" type="text" value="{% if get_detail_header %} {{ get_detail_header.pot_end_butt }} {% endif %}">
						</div>
						<div class="col-md-4" style="margin-top: 5px; margin-left: -25px;">
							kg
						</div>
					</div>
				</td>
			</tr>
		</table>

		</form>

		<br>

		<div style="overflow: auto">

			<button class="btn btn-primary add-lot" type="button">
				Tambah
			</button>

			<br>
			<br>

			<table class="list-lot table table-hovered" id="list-lot" cellpadding="0" cellspacing="0" style="width: 100%">
			</table>
			<div class="opr-lot" id="pager-lot" style="text-align:center;"></div>

			<br>
			<br>

		</div>

	</div>


<script type="text/javascript" src="{{ base_url('web/vendor/jquery-tag-editor/jquery.caret.min.js') }}"></script>
<script type="text/javascript" src="{{ base_url('web/vendor/jquery-tag-editor/jquery.tag-editor.min.js') }}"></script>
<script type="text/javascript" src="{{ base_url('assets_app/js/lot.js') }}"></script>
<script type="text/javascript">
	window.LOT.handleJqgrid('.list-lot', '#pager-lot');
	window.LOT.handleAddRow('.add-lot');
	window.LOT.handleTagEditor();
	window.LOT.handleSaveHeaderLot();	
	window.LOT.handleNumberInput();
</script>