	<link href="{{ base_url('assets_app/css/new.style.css') }}" rel="stylesheet" type="text/css">

	<style type="text/css">
		.tbl-cstm tr td{
			border: 1px solid #CCC;
			padding: 5px;
		}
	</style> 

	<div class="modal-header">
	    <h4 class="modal-title pull-left" id="defaultModalLabel">
	    	Form Transaksi Lot
	    </h4>


		<button class="pull-right btn btn-link waves-effect close-modal" type="button" data-dismiss="modal">CLOSE</button>

		<div class="pull-right" style="padding-right: 200px;">
		    <button class="btn btn-info btn-posting-lot" datasa-toggle="modal" daasta-target=".defaultModal">
		    	Posting
		    </button>
	    </div>

	</div>
	<div class="modal-body">

		<form class="form-header-lot" method="post" action="{{ site_url('admin/lot/save_header') }}">

		<input class="master-detail-id" name="master_detail_id" type="hidden" value="{{ master_detail_id }}">


		<table class="tbl-cstm" style="width: 100%;">
			<tr>
				<td style="width: 150px;">
					<label>Mesin</label>
				</td>
				<td style="width: 250px;">
					{% set machine = '' %}
					{% if get_detail %} 
						{% set machine = get_detail.MachineId %}
					{% endif %}
						{{ machine }} 
				</td>
				<td><label>Operator 1</td></label>
				<td style="width: 250px;">
					<select class="form-control " name="opr1">
						<option value="">- Pilih -</option>
						{% if get_operator %}
							{% for row_opr in get_operator %}
								<option value="{{ row_opr.operator_id }}" {% if same(get_detail_header.opr1, row_opr.operator_id ) %} selected="selected" {% endif %}>{{ row_opr.name }}</option>
							{% endfor %}
						{% endif %}
					</select>
				</td>
				<td style="width: 150px;">
					<label>Dies Index Used</label>
				</td>
				<td style="width: 250px;">
					<select class="index-dice" name="index_dice[]" multiple="">	
					</select>
					{% set index_used = '' %}
					{% if get_detail %} 
						{% set index_used = convert_dice(get_detail.index_dice) %}
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					<label>Tanggal</label>
				</td> 
				<td>
					{% if get_detail %} {{ get_detail.tanggal|date("d-m-Y") }} {% endif %}
				</td>
				<td><label>Operator 2</td></label>
				<td>
					<select class="form-control" name="opr2">
						<option value="">- Pilih -</option>
						{% if get_operator2 %}
							{% for row_opr in get_operator2 %}
								<option value="{{ row_opr.operator_id }}" {% if same(get_detail_header.opr2, row_opr.operator_id ) %} selected="selected" {% endif %}>{{ row_opr.name }}</option>
							{% endfor %}
						{% endif %}
					</select>
				</td>
				<td>
					<button class="btn btn-success btn-mulai-pukul" type="button">
						Mulai Pukul
					</button>
				</td>
				<td>
					{% set mulai = "00:00" %}
					{% set mulai_str = "" %}
					{% if get_detail_header %}
						{% set mulai_str = get_detail_header.time_start %}
						{% if mulai_str != "" %}
							{% set mulai = trims(get_detail_header.time_start) %}
						{% endif %}
					{% endif %}
					<input class="form-control input-mulai-pukul" name="time_start" type="text" value="{{ mulai_str }}" readonly="readonly">
				</td>
			</tr>
			<tr>
				<td>
					<label>Shift</label>
				</td>
				<td>
					{% if get_detail %} {{ get_detail.shift }} {% endif %}
				</td>
				<td><label>Scrap</td></label>
				<td>
					<div class="row clearfix">
						<div class="col-md-8">
	                        <input class="form-control" name="scrap" type="text" value="{% if get_detail_header %}{{ get_detail_header.scrap }}{% endif %}">
						</div>
						<div class="col-md-4" style="margin-top: 5px; margin-left: -25px;">
							kg
						</div>
					</div>
				</td>
				<td>
					<button class="btn btn-danger btn-selesai-pukul" type="button">
						Selesai Pukul
					</button>
				</td>
				<td>
					{% set selesai = "00:00" %}
					{% set selesai_str = "" %}
					{% if get_detail_header %}
						{% set selesai_str = get_detail_header.time_finish %}
						{% if selesai_str != "" %}
							{% set selesai = trims(get_detail_header.time_finish) %}
						{% endif %}
					{% endif %}
					<input class="form-control input-selesai-pukul" name="time_finish" type="text" value="{{ selesai_str }}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Section Name</label>
				</td>
				<td>
					{% if get_detail %} {{ get_detail.SectionDescription }} {% endif %}
				</td>
				<td><label>Pot End Butt</td></label>
				<td>
					<div class="row clearfix">
						<div class="col-md-8">
                            <input class="form-control" name="potendbutt" type="text" value="{% if get_detail_header %}{{ get_detail_header.pot_end_butt }}{% endif %}">
						</div>
						<div class="col-md-4" style="margin-top: 5px; margin-left: -25px;">
							kg
						</div>
					</div>
				</td>
				<td>
					<label>Selisih Pukul</label>
				</td>
				<td>
					{% if selesai_str != " " %}
						<div class="div-selisih-waktu">
							{{ selisih_waktu(get_detail.tanggal ~ ' '~ selesai ~ ':00', get_detail.tanggal ~ ' '~ mulai ~ ':00') }}
						</div>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					<label>Target Prod (Billet)</label>
				</td>
				<td>
					{% if get_detail %} {{ get_detail.target_prod }} {% endif %}
				</td>
				<td><label>Pull Awal</td></label>
				<td>
					{% if get_master_query %} {{ get_master_query.InitialPullingLength }} {% endif %}
				</td>
				<td>
					<label>Downtime</label>
				</td>
				<td>
					<input class="form-control" name="downtime" type="text" value="{% if get_detail_header %}{{ get_detail_header.downtime }}{% endif %}">
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
				</td>
				<td><label>Pull Awal Actual</td></label>
				<td>
					<input class="form-control" name="pull_awal_actual" type="text" value="{% if get_detail_header %}{{ get_detail_header.pull_awal_actual }}{% endif %}">
				</td>
				<td>
					<label>DeadCycle</label>
				</td>
				<td>
					<input class="form-control" name="deadcycle" type="text" value="{% if get_detail_header %}{{ get_detail_header.deadcycle }}{% endif %}">
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
				</td>
				<td><label>Bs. Blkg</td></label>
				<td>
					{% if get_master_query %} {{ get_master_query.BadEndLength }} {% endif %}
				</td>
				<td>
					<label>Ram Speed</label>
				</td>
				<td>
					<input class="form-control" name="ram_speed" type="text" value="{% if get_detail_header %}{{ get_detail_header.ram_speed }}{% endif %}">
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
				</td>
				<td><label>Bs. Blkg Actual</td></label>
				<td>
					<input class="form-control" name="blkg_actual" type="text" value="{% if get_detail_header %}{{ get_detail_header.blkg_actual }}{% endif %}">
				</td>
				<td>
					<label>Pressure Bar</label>
				</td>
				<td>
					<input class="form-control" name="pressure_bar" type="text" value="{% if get_detail_header %}{{ get_detail_header.pressure_bar }}{% endif %}">
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<label>Keterangan Ext</label>
				</td>
				<td>
					<textarea class="form-control" name="keterangan">{% if get_detail_header %}{{ get_detail_header.keterangan }}{% endif %}</textarea>
				</td>
			</tr>
		</table>
		</form>

		<div style="overflow: auto">
			<br>

			<table class="list-lot table table-hovered" id="list-lot" cellpadding="0" cellspacing="0" style="width: 100%">
			</table>
			<div class="opr-lot" id="pager-lot" style="text-align:center;"></div>

			<br>
			<br>

		</div>

	</div>

	<!-- modal -->
	<div class="modal-demo modal-ajax modal-custombox" style="display: block;">
	    <h4 class="title">
			Perlu Caustic ?
		    <button type="button" class="close">
		        <i class="fa fa-times"></i>
		    </button>

	    </h4>
	    <div class="text">
	        <div style="text-align: center;">
				<a href="#" class="btn btn-primary yes-swal">Ya</a>&nbsp;&nbsp;
				<a href="#" class="btn btn-warning no-swal">Tidak</a>&nbsp;&nbsp;
				<a href="#" class="btn btn-danger problem-swal">Problem</a>&nbsp;&nbsp; 
				<div class="select-problem" style="display: block;"> 
					<select class="list-problem" style="padding: 5px"></select>&nbsp;&nbsp;
					<a href="#" class="btn btn-primary save-swal">Simpan</a>&nbsp;&nbsp; 
					<a href="#" class="btn btn-default back-swal">Kembali</a> 
				</div>
			</div>
	    </div>
	</div>
	


<script type="text/javascript" src="{{ base_url('web/vendor/jquery-tag-editor/jquery.caret.min.js') }}"></script>
<script type="text/javascript" src="{{ base_url('web/vendor/jquery-tag-editor/jquery.tag-editor.min.js') }}"></script>
<script type="text/javascript" src="{{ base_url('assets_app/js/lot.js') }}"></script>
<script type="text/javascript">
	window.LOT.handleJqgrid('.list-lot', '#pager-lot');
	window.LOT.handleAddRow('.add-lot');
	window.LOT.handleTagEditor();
	window.LOT.handleSaveHeaderLot();	
	window.LOT.handleNumberInput();
	var el = '.index-dice';
	window.LOT.handleMulaiPukul('.btn-mulai-pukul', '.input-mulai-pukul', el);
	window.LOT.handleSelesaiPukul('.btn-selesai-pukul', '.input-mulai-pukul', '.input-selesai-pukul', '.div-selisih-waktu');
	window.LOT.handlePosting('.btn-posting-lot');


	var url = window.APP.siteUrl + 'admin/master/get_data_index_dice/'+"{{ master_detail_id }}"+'/'+ "{{ machine }}" + '';

	$.getJSON(url  , function(data) {

	    var output = "";
	    var defaultValue = "{{ index_used }}";

	    $.each(data, function(key, val) {
	    	if( defaultValue.indexOf(val.value) > -1) {
				selected = 'selected="selected"';
			} else {
				selected = '';
			}
	        output += '<option value="' + val.value + '" '+selected+'>' + val.text + '</option>';
	    });
	    $(el).html(output);

	    //$(el).multipleSelect();

	    $(el).select2({
	        width: "100%",
		});
		
	});


</script>

{% if mulai_str != "" and mulai_str != " " %}
	<script type="text/javascript">
		$('.index-dice').prop("disabled", true);
	</script>
{% endif %}