<link href="{{ base_url('web/vendor/jquery-tag-editor/jquery.tag-editor.css') }}" rel="stylesheet">

	<div class="modal-header">
	    <h4 class="modal-title pull-left" id="defaultModalLabel">
	    	Form Transaksi Lot
	    </h4>

	    <table class="table table-bordered pull-left" style="width: 70%; margin-left: 25px;">
			<tr>
				<td>
					<label>Mesin</label>
				</td>
				<td>
					{% if get_detail %} {{ get_detail.MachineId }} {% endif %}
				</td>
				<td>
					<label>Tanggal</label>
				</td>
				<td>
					{% if get_detail %} {{ get_detail.tanggal|date("d-m-Y") }} {% endif %}
				</td>
				<td>
					<label>Shift</label>
				</td>
				<td>
					{% if get_detail %} {{ get_detail.shift }} {% endif %}
				</td>
				<td>
					<label>Section Name</label>
				</td>
				<td>
					{% if get_detail %} {{ get_detail.SectionDescription }} {% endif %}
				</td>
				<td>
					<label>Target Prod (Billet)</label>
				</td>
				<td>
					{% if get_detail %} {{ get_detail.target_prod }} {% endif %}
				</td>				
			</tr>
		</table>

		<button class="pull-right btn btn-link waves-effect close-modal" type="button" data-dismiss="modal">CLOSE</button>

	</div>
	<div class="modal-body">

		<form class="form-header-lot" method="post" action="{{ site_url('admin/lot/save_header') }}">

		<input class="master-detail-id" name="master_detail_id" type="hidden" value="{{ master_detail_id }}">
		<table class="table table-bordered">
			<tr>
				<td><label>Oprt-1</td></label>
				<td>
					<select class="form-control" name="opr1">
						<option value="">- Pilih -</option>
						{% if get_operator %}
							{% for row_opr in get_operator %}
								<option value="{{ row_opr.operator_id }}" {% if same(get_detail_header.opr1, row_opr.operator_id ) %} selected="selected" {% endif %}>{{ row_opr.name }}</option>
							{% endfor %}
						{% endif %}
					</select>
				</td>
				<td style="padding-left: 50px;">
					<label>Oprt-2</label>
				</td>
				<td>
					<select class="form-control" name="opr2">
						<option value="">- Pilih -</option>
						{% if get_operator %}
							{% for row_opr in get_operator %}
								<option value="{{ row_opr.operator_id }}" {% if same(get_detail_header.opr2, row_opr.operator_id ) %} selected="selected" {% endif %}>{{ row_opr.name }}</option>
							{% endfor %}
						{% endif %}
					</select>
					<!--<input class="form-control tag-editor" name="opr2" type="text" value="{% if get_detail_header %} {{ get_detail_header.opr2 }} {% endif %}">-->
				</td>
				<td style="padding-left: 50px;">
					<label>Scrap</label>
				</td>
				<td>
					<div class="col-md-8">
                        <input class="form-control input-number" name="scrap" type="text" value="{% if get_detail_header %} {{ get_detail_header.scrap }} {% endif %}">
					</div>
					<div class="col-md-4" style="margin-top: 5px; margin-left: -25px;">
						kg
					</div>
				</td>
				<td style="padding-left: 50px;">
					<label>Pot End-Butt</label>
				</td>
				<td>
					<div class="row clearfix">
						<div class="col-md-8">
                            <input class="form-control input-number" name="potendbutt" type="text" value="{% if get_detail_header %} {{ get_detail_header.pot_end_butt }} {% endif %}">
						</div>
						<div class="col-md-4" style="margin-top: 5px; margin-left: -25px;">
							kg
						</div>
					</div>
				</td>
			</tr>
		</table>

	
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Dies Index Used</th>
					<th>Mulai Pukul</th>
					<th>Selesai Pukul</th>
					<th>Downtime</th>
					<th>DeadCycle</th>
					<th>Ram Speed</th>
					<th>Pressure (bar)</th>
					<th>Keterangan Extrusion</th>
				</tr>
			</thead>
			<tbody>
				{% if get_detail %}
				<tr>
					<td>{{ convert_dice(get_detail.index_dice) }}</td>
					<td><input class="form-control" name="time_start" type="text" value="{% if get_detail_header %} {{ get_detail_header.time_start }} {% endif %}"></td>
					<td><input class="form-control" name="time_finish" type="text" value="{% if get_detail_header %} {{ get_detail_header.time_finish }} {% endif %}"></td>
					<td><input class="form-control" name="downtime" type="text" value="{% if get_detail_header %} {{ get_detail_header.downtime }} {% endif %}"></td>
					<td><input class="form-control" name="deadcycle" type="text" value="{% if get_detail_header %} {{ get_detail_header.deadcycle }} {% endif %}"></td>
					<td><input class="form-control" name="ram_speed" type="text" value="{% if get_detail_header %} {{ get_detail_header.ram_speed }} {% endif %}"></td>
					<td><input class="form-control" name="pressure_bar" type="text" value="{% if get_detail_header %} {{ get_detail_header.pressure_bar }} {% endif %}"></td>
					<td><textarea class="form-control" name="keterangan">{% if get_detail_header %} {{ get_detail_header.keterangan }} {% endif %}</textarea></td>
				</tr>
				{% endif %}
			</tbody>
		</table>
		</form>

		<table class="table table-bordered" style="width: 50%">
			<tr>
				<td>Pull.Awal</td>
				<td>Bs.Blkg</td>
				<td>Pull.Awal Actual</td>
				<td>Bs.Blkg.Actual</td>
			</tr>
			<tr>
				<td>{% if get_master_query %} {{ get_master_query.InitialPullingLength }} {% endif %}</td>
				<td>{% if get_master_query %} {{ get_master_query.BadEndLength }} {% endif %}</td>
				<td></td>
				<td></td>
			</tr>
		</table>

		<br>

		<div style="overflow: auto">

			<button class="btn btn-primary add-lot" type="button">
				Tambah
			</button>

			<br>
			<br>

			<table class="list-lot table table-hovered" id="list-lot" cellpadding="0" cellspacing="0" style="width: 100%">
			</table>
			<div class="opr-lot" id="pager-lot" style="text-align:center;"></div>

			<br>
			<br>

		</div>

	</div>


<script type="text/javascript" src="{{ base_url('web/vendor/jquery-tag-editor/jquery.caret.min.js') }}"></script>
<script type="text/javascript" src="{{ base_url('web/vendor/jquery-tag-editor/jquery.tag-editor.min.js') }}"></script>
<script type="text/javascript" src="{{ base_url('assets_app/js/lot.js') }}"></script>
<script type="text/javascript">
	window.LOT.handleJqgrid('.list-lot', '#pager-lot');
	window.LOT.handleAddRow('.add-lot');
	window.LOT.handleTagEditor();
	window.LOT.handleSaveHeaderLot();	
	window.LOT.handleNumberInput();
</script>