{% extends 'admin/layout.html.twig' %}

{% block content_title %}
	
{% endblock %}

{% block content %}

	<div class="row clearfix">

		<div class="col-md-12 col-sm-12 col-xs-12">

			<div class="card" id="card-po" style="width: 100%; margin: 0 auto !important;">

				<div class="header">
					<h2>
						Purchase Order
					</h2>
				</div>
				
				<div class="body">
					<form class="form-po" action="{{ site_url('admin/po/save_header') }}" method="post">
						<table class="table table-bordered" style="width: 40%">
							<tr>
								<td>No. Dokumen PR</td>
								<td>
									<input class="po-id" name="id" type="hidden" value="{{ id }}">
									<select class="pr-id form-control" name="document_pr[]" required="required" multiple="">
										{% if pr_header %}


											{% for pr_row in pr_header %}
												<option value="{{ pr_row.PurchaseRequestNo }}"
												{% if same(pr_row.PurchaseRequestNo, document_pr) %}
													selected="selected" 
												{% endif %}
												>
													{{ pr_row.PurchaseRequestNo }}
												</option>
											{% endfor %}

										{% endif %}
									</select>									
								</td>
							</tr>

							<tr>
								<td>No. Dokumen</td>
								<td>
									<input class="document_no" name="document_no" type="text" value="{{ document_no }}" readonly="readonly">
								</td>
							</tr>

							<tr>
								<td>No. PO</td>
								<td>
									<input name="po_no" type="text" value="{{ sub_no }}" required>
								</td>
							</tr>
							<tr>
								<td>Tanggal</td>
								<td>
									<input class="date-bootstrap date-po" name="tgl" type="text" value="{{ tgl }}" required="required">
								</td>
							</tr>
							<!--
							<tr>
								<td>Die Year</td>
								<td>
									<input class="year-pr" name="die_year" type="text">
								</td>
							</tr>
							-->
							<tr>
								<td colspan="2">
									<a class="btn bg-blue-grey waves-effect" href="{{ site_url('admin/po') }}">Kembali</a>
									<button class="btn btn-primary call-modal waves-effect" type="submit" >Proses</button>
									<button class="btn btn-danger waves-effect po-btn-delete" type="submit" >Hapus</button>

									{% if same(posting, '') %}
										<button class="btn bg-indigo waves-effect posting-po" type="button">
											Posting
										</button>
									{% endif %}
								</td>
							</tr>
						</table>
					</form>

					<div id="result">
						<table class="table table-bordered po-table">
							<thead>
							<tr>
								<td>
									<input class="po-parent-checkbox" type="checkbox" id="md_checkbox_" class="filled-in chk-col-blue" onclick="window.PO.handleCheckbox()"/>
									<label for="md_checkbox_"></label>
								</td>
								<td class="bold">
									No.
								</td>
								<td class="bold">
									Section Id
								</td>
								<td class="bold">
									Section Name
								</td>
								<td class="bold">
									Product Code
								</td>
								<td class="bold">
									Component
								</td>
								<td class="bold">
									Price IDR
								</td>
								<td class="bold">
									Price CHY
								</td>
								
								{% if same(posting, '') %}
									<td class="bold">
										Setting
									</td>
								{% endif %}
							</tr>
							</thead>
							<tbody>
								
								<template 
								v-for="(poRow, poIdx) in poData"
								v-bind:key="poRow">
									<tr>
										<td>
											<input class="po-sub-checkbox" type="checkbox" id="md_checkbox_21" class="filled-in chk-col-blue" v-bind:id="'po' + poIdx + 1" v-bind:value="poRow.pod_id"/>
											<label v-bind:for="'po' + poIdx + 1"></label>
										</td>
										<td align="right">
											<% poIdx + 1 %>
										</td>
										<td>
											<% poRow.section_id %>
										</td>
										<td>
											<% poRow.section_desc %>
										</td>
										<td><% poRow.dies_po_id %></td>
										<td><% poRow.component %></td>
										<td>
											<input type="text" v-model="poRow.price_idr" @change="savePrice(poIdx)" onkeydown="window.INPUT.numberingKeyDown(event, this)">
										</td>
										<td>
											<input type="text" v-model="poRow.price_chn" @change="savePrice(poIdx)" onkeydown="window.INPUT.numberingKeyDown(event, this)">
										</td>
										{% if same(posting, '') %}
											<td>
												<span>
													<button class="btn btn-xs btn-danger" title="Hapus" @click="removePo(poIdx)">
														<i class="material-icons">delete</i>
													</button>
												</span>
											</td>
										{% endif %}

									</tr>

								</template>
							</tbody>

						</table>

					</div>

					<!--
					<table class="table table-bordered pr-table">
						<thead>
						<tr>
							<td class="bold">
								Section Id
							</td>
							<td class="bold">
								Section Name
							</td>
							<td class="bold">
								Final DiesId
							</td>
							<td class="bold">
								Type
							</td>
							<td class="bold">
								Hole
							</td>
							<td class="bold">
								Billet
							</td>
							<td class="bold">
								Machine
							</td>
							
							{% if same(posting, '') %}
								<td class="bold">
									Setting
								</td>
							{% endif %}
						</tr>
						</thead>
						<tbody>
							
							<template 
							v-for="(prRow, prIdx) in prData"
							v-bind:key="prRow"
							v-bind:title="prRow">
								<tr>
									<td>
										<a class="section-pr" href="javascript:;" title="Klik utk mengedit" data-toggle="modal" data-target=".defaultModal2" @click="showModalEdit(prIdx)">
											<% prRow.sectionId %>	
										</a>
									</td>
									<td v-model="prRow.sectionName"><% prRow.sectionName %></td>
									<td><% prRow.diesId %></td>
									<td><% prRow.dieTypeName %></td>
									<td><% prRow.hole %></td>
									<td><% prRow.billet %></td>
									<td><% prRow.machineType %></td>
									{% if same(posting, '') %}
										<td>
											<span>
												<button class="btn btn-xs btn-danger" title="Hapus" @click="removePr(prIdx)">
													<i class="material-icons">delete</i>
												</button>
											</span>
										</td>
									{% endif %}

								</tr>

							</template>
						</tbody>

					</table>
					-->	
					
				</div>
				
			</div>

		</div>

	</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script type="text/javascript" src="{{ base_url('assets_app/js/po.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets_app/js/date.js') }}"></script>
	<script type="text/javascript">
		window.DATE.init();
		window.PO.init();
	</script>

{% endblock %}