{% extends 'admin/layout.html.twig' %}

{% block content_title %}
	
{% endblock %}

{% block content %}

	<div class="row clearfix">

		<div class="col-md-12 col-sm-12 col-xs-12">

			<div class="card" style="width: 100%; margin: 0 auto !important;">

				<div class="header">
					<h2>
						Daftar Purchase Order Dies
					</h2>
				</div>
				
				<div class="body">
					<a class="btn btn-primary waves-effect" href="{{ site_url('admin/po/edit/new') }}">
						Tambah
					</a>
					<br>
					<br>

					<table class="table table-bordered" style="width: 80%">
						<thead>
							<tr>
								<td class="bold"  style="width: 10px;">No.</td>
								<td class="bold">No. Dokumen</td>
								<td class="bold">No. Dokumen PR</td>
								<td class="bold">Tanggal Transaksi</td>
								<td class="bold">Sudah Diposting ?</td>
								<td class="bold"></td>
							</tr>
						</thead>
						<tbody>
							
						{% if data_headers %}
							{% for key, row_header in data_headers %}
								<tr>
									<td align="right">{{ key + 1 }}</td>
									<td>
										<a href="{{ site_url('admin/po/edit/' ~ row_header.PurchaseOrderHeaderId) }}">
											{{ row_header.PurchaseOrderNo }}
										</a>
									</td>
									<td>
										{{ row_header.PurchaseRequestNo }}
									</td>
									<td>{{ indonesian_date(row_header.TransactionDate, 'three') }}</td>	
									<td>
										{% if same(row_header.PostedDate, '') %}
											<span class="color-red" title="belum">
												<i class="material-icons">remove</i>
											</span>
										{% else %}
											<span class="color-green" title="sudah">
												<i class="material-icons">check</i>
											</span>
										{% endif %}
									</td>
									<td align="center">
										{% if same(row_header.PostedDate, '') %}
											<span class="btn btn-xs btn-danger delete-header-po" data-id="{{ row_header.PurchaseOrderHeaderId }}">
												<i class="material-icons">delete</i>
											</span>
										{% else %}
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td colspan="7">Data tidak tersedia</td>
							</tr>
						{% endif %}
						</tbody>
					</table>
				</div>
				
			</div>

		</div>

	</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script type="text/javascript" src="{{ base_url('assets_app/js/po.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets_app/js/date.js') }}"></script>
	<script type="text/javascript">
	window.DATE.init();
	window.PO.handleDeleteHeader();
	</script>

{% endblock %}