{% if data %}
	{% for row in data %}
	<table class="" style="border: none; width: 100%;">
		<tr class="bold">
			<td>DIE HISTORY CARD</td>
			<td align="center">{{ section_description }}</td>
			<td align="right">{{ row.DiesId }}</td>
		</tr>
	</table>

	<table class="table table-bordered">
		<thead>
			<tr align="center">
				<td rowspan="2" style="vertical-align: middle;"><b>Tanggal</b></td>
				<td rowspan="2" style="vertical-align: middle;"><b>Keterangan</b></td>
				<td colspan="3"><b>Hasil Press</b></td>
				<td colspan="2"><b>Akumulasi</b></td>
				<td rowspan="2" style="vertical-align: middle;"><b>OK/NG</b></td>
				<td rowspan="2" style="vertical-align: middle;"><b>Problem</b></td>
				<td rowspan="2" style="vertical-align: middle;"><b>Koreksi</b></td>
				<td rowspan="2" style="vertical-align: middle;"><b>Nama Korektor</b></td>
			</tr>

			<tr>
				<td><b>Panjang Billet</b></td>
				<td><b>Jml Billet</b></td>
				<td><b>Jumlah KG</b></td>
				<td><b>Billet</b></td>
				<td><b>KG</b></td>
			</tr>
		</thead>
		<tbody class="result-dies-idx">
			<tr>
				<td>{{ tgl_pembelian[row.DiesId] }}</td>
				<td>Pembelian</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>

			{% set data2 = get_data_history_card_by_dies_id(row.DiesId) %}
			{% if data2 %}
				
				{% set jml_billet =  0 %}
				{% set jml_kg =  0 %}
				{% for key, row in data2 %}

				{% set billet_data = [] %}
				{% if row.MasterDetailId > 0 %}
					{% set billet_data = get_isian_data_lot(row.MasterDetailId, 'billet') %}
				{% endif %}
				
				<tr>
					<td>{{ row.LogTime|date('d-M-Y H:i:s') }}</td>
					<td>{{ row.DiesStatus }}</td>
					<td align="right">
						{% if billet_data %}
							{% for billet_row in billet_data %}

								{{  to_decimal(billet_row.PBilletActual) }}<br>
							{% endfor %}	
						{% endif %}
					</td>
					<td align="right">
						{% if billet_data %}
							{% for billet_row in billet_data %}
								{{  billet_row.JumlahBillet }} <br>
							{% endfor %}
						{% endif %}
					</td>
					<td align="right">
						{% if billet_data %}
							{% for billet_row in billet_data %}

								{% set machine = get_machine_in_spk_detail(row.MasterDetailId) %}
								{% set billet_weight = to_decimal(get_detail_machine(machine, 'BilletWeight')) %}
								{% set jumlah_kg = billet_weight * billet_row.PBilletActual * billet_row.JumlahBillet %}


								{{  jumlah_kg }}<br>
							{% endfor %}
						{% endif %}
					</td>
					<td align="right">
						{% if billet_data %}
							{% for billet_row in billet_data %}
								{% set jml_billet =  jml_billet + billet_row.JumlahBillet %}
								{% if jml_billet > 0 %}
								 {{ jml_billet }} <br>
								{% endif %}
							{% endfor %}
						{% endif %}
					</td>
					<td align="right">
						{% if billet_data %}
							{% for billet_row in billet_data %}

								{% set machine = get_machine_in_spk_detail(row.MasterDetailId) %}
								{% set billet_weight = to_decimal(get_detail_machine(machine, 'BilletWeight')) %}
								{% set jumlah_kg = billet_weight * billet_row.PBilletActual * billet_row.JumlahBillet %}

								{% set jml_kg =  jml_kg + jumlah_kg %}
								{% if jml_billet > 0 %}
									{{ jml_kg }} <br>
								{% endif %}

							{% endfor %}
						{% endif %}
					</td>
					<td></td>
					<td>{{ row.Problem }}</td>
					<td>{{ row.Koreksi }}</td>
					<td>{{ row.Korektor }}</td>
				</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>

	<br>
	<br>

	{% endfor %}
{% endif %}