<table class="table" style="border: none;">
	<tr>
		<td>{{ section_id }}</td>
		<td>{{ dice }}</td>
	</tr>
</table>

<table class="table table-bordered">
	<thead>
		<tr align="center">
			<td rowspan="2" style="vertical-align: middle;"><b>Tanggal</b></td>
			<td colspan="3"><b>Hasil Press</b></td>
			<td colspan="2"><b>Akumulasi</b></td>
			<td rowspan="2" style="vertical-align: middle;"><b>OK/NG</b></td>
			<td rowspan="2" style="vertical-align: middle;"><b>Problem</b></td>
			<td rowspan="2" style="vertical-align: middle;"><b>Koreksi</b></td>
			<td rowspan="2" style="vertical-align: middle;"><b>Nama Korektor</b></td>
		</tr>

		<tr>
			<td><b>Panjang Billet</b></td>
			<td><b>Jml Billet</b></td>
			<td><b>Jumlah KG</b></td>
			<td><b>Billet</b></td>
			<td><b>KG</b></td>
		</tr>
	</thead>
	<tbody class="result-dies-idx">
		{% if data %}
			{% set dies_problem =  get_last_problem_log_dies(dice) %}
			{% set problem_id = "" %}
			{% set problem = "" %}
			{% set koreksi = "" %}
			{% set korektor = "" %}

			{% if dies_problem %}
				{% set problem_id = dies_problem['problem_id'] %}
				{% set problem = dies_problem['problem'] %}
				{% set koreksi = dies_problem['koreksi'] %}
				{% set korektor = dies_problem['korektor'] %}
			{% endif %}
			{% set jml_billet =  0 %}
			{% set jml_kg =  0 %}
			{% for key, row in data %}
			
			<tr>
				<td>{{ row.tanggal|date('d-M-Y') }}</td>
				<td>{{ row.PBilletActual }}</td>
				<td>{{ row.JumlahBillet }}</td>
				<td>
					{% set billet_weight = to_decimal(get_row_master('BilletWeight', '', row.section_id)) %}
					{% set jumlah_kg = to_decimal(get_jumlah_billet_kg(row.PBilletActual, row.JumlahBillet, billet_weight)) %}
					{{ jumlah_kg }}
				</td>
				<td>
					 {% set jml_billet =  jml_billet + row.JumlahBillet %}
					 {{ jml_billet }}
				</td>
				<td>
					{% set jml_kg =  jml_kg + jumlah_kg %}
					{{ jml_kg }}
				</td>
				<td></td>
				<td>{{ problem }}</td>
				<td>{{ koreksi }}</td>
				<td>{{ korektor }}</td>
			</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="10">Data tidak tersedia</td>
			</tr>
		{% endif %}
	</tbody>
</table>