<table class="" style="border: none; width: 100%;">
	<tr class="bold">
		<td>DIE HISTORY CARD</td>
		<td align="center">{{ section_description }}</td>
		<td align="right">{{ dice }}</td>
	</tr>
</table>

<!--
<table class="table" style="width: 33%;float: left">
	<tr>
		<td>Customer</td>
		<td colspan="3"></td>
	</tr>
	<tr>
		<td>Section Id</td>
		<td colspan="3">
			{{ section_id }}
		</td>
	</tr>
	<tr>
		<td>Section Name</td>
		<td colspan="3">
			{{ section_description }}
		</td>
	</tr>
	<tr>
		<td>Product Code</td>
		<td colspan="3"></td>
	</tr>
	<tr>
		<td>Tahun</td>
		<td colspan="3"></td>
	</tr>
	<tr>
		<td>Final Index</td>
		<td></td>
		<td>Supplier Index</td>
		<td></td>
	</tr>
	<tr>
		<td>Die Type</td>
		<td colspan="3"></td>
	</tr>
	<tr>
		<td>Hole</td>
		<td colspan="3"></td>
	</tr>
	<tr>
		<td>Sub Komponen</td>
		<td colspan="3"></td>
	</tr>
	<tr>
		<td>Berat Standar</td>
		<td></td>
		<td>Toleransi</td>
		<td></td>
	</tr>
	<tr>
		<td>Total Standar</td>
		<td></td>
		<td>Toleransi</td>
		<td></td>
	</tr>
	<tr>
		<td>No. Freeds Plate</td>
		<td></td>
		<td>No. Backer</td>
		<td></td>
	</tr>
	<tr>
		<td>Available Color</td>
		<td colspan="3"></td>
	</tr>
	<tr>
		<td>Extrusion Ratic</td>
		<td colspan="3"></td>
	</tr>
	<tr>
		<td>Die Ubah dari</td>
		<td colspan="3"></td>
	</tr>
	<tr>
		<td>No Perempatan</td>
		<td colspan="3"></td>
	</tr>
	<tr>
		<td>Tanggal Order Die</td>
		<td colspan="3"></td>
	</tr>
	<tr>
		<td>Tanggal Terima</td>
		<td colspan="3"></td>
	</tr>
</table>

<table class="table" style="width: 33%;float: left">
	<tr>
		<td></td>
		<td></td>
	</tr>
</table>

<table class="table" style="width: 33%;float: left">
	<tr>
		<td class="bold" colspan="3">STANDAR OPERASI</td>
	</tr>
	<tr>
		<td>Kondisi Die</td>
		<td>
			<input type="checkbox">
			Kritis
		</td>
		<td>
			<input type="checkbox">
			Rawan Macet
		</td>
	</tr>
	<tr>
		<td>Prioritas di Mesin</td>
		<td colspan="2">
		</td>
	</tr>
	<tr>
		<td>Panjang BIllet Total Standar</td>
		<td>
		</td>
		<td>
			Min/Max &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</td>
	</tr>
	<tr>
		<td>Temperatur Awal Billet</td>
		<td>
		</td>
		<td>
			
		</td>
	</tr>
	<tr>
		<td>Jml Maksimum Billet Press</td>
		<td>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>Hasil Jadi Standar</td>
		<td colspan="2">
		</td>
	</tr>
	<tr>
		<td>Bolster Dipanaskan ?</td>
		<td>
			<input type="checkbox">
			Ya
		</td>
		<td>
			<input type="checkbox">
			Tidak
		</td>
	</tr>
	<tr>
		<td>Memakai Canester ?</td>
		<td>
			<input type="checkbox">
			Ya
		</td>
		<td>
			<input type="checkbox">
			Tidak
		</td>
	</tr>
	<tr>
		<td>Memakai Carbon Block ?</td>
		<td>
			<input type="checkbox">
			Ya
		</td>
		<td>
			<input type="checkbox">
			Tidak
		</td>
	</tr>
	<tr>
		<td>Proses Press dibantu</td>
		<td>
			<input type="checkbox">
			Tarik
		</td>
		<td>
			<input type="checkbox">
			Role
		</td>
	</tr>
	<tr>
		<td>Cek Etching Hasil Press ?</td>
		<td>
			<input type="checkbox">
			Ya
		</td>
		<td>
			<input type="checkbox">
			Tidak
		</td>
	</tr>
	<tr>
		<td>Ada Sample Profil OK-QC ?</td>
		<td>
			<input type="checkbox">
			Ya
		</td>
		<td>
			<input type="checkbox">
			Tidak
		</td>
	</tr>

</table>
-->

<table class="table table-bordered">
	<thead>
		<!--
		<tr>
			<td class="bold">Tanggal Pembelian</td>
			<td colspan="9">
				{{ tgl_pembelian }}
			</td>
		</tr>
		-->
		<tr align="center">
			<td rowspan="2" style="vertical-align: middle;"><b>Tanggal</b></td>
			<td rowspan="2" style="vertical-align: middle;"><b>Keterangan</b></td>
			<td colspan="3"><b>Hasil Press</b></td>
			<td colspan="2"><b>Akumulasi</b></td>
			<td rowspan="2" style="vertical-align: middle;"><b>OK/NG</b></td>
			<td rowspan="2" style="vertical-align: middle;"><b>Problem</b></td>
			<td rowspan="2" style="vertical-align: middle;"><b>Koreksi</b></td>
			<td rowspan="2" style="vertical-align: middle;"><b>Nama Korektor</b></td>
		</tr>

		<tr>
			<td><b>Panjang Billet</b></td>
			<td><b>Jml Billet</b></td>
			<td><b>Jumlah KG</b></td>
			<td><b>Billet</b></td>
			<td><b>KG</b></td>
		</tr>
	</thead>
	<tbody class="result-dies-idx">
		<tr>
			<td>{{ tgl_pembelian }}</td>
			<td>Pembelian</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		{% if data %}
			
			{% set jml_billet =  0 %}
			{% set jml_kg =  0 %}
			{% for key, row in data %}
			
			<tr>
				<td>{{ row.LogTime|date('d-M-Y H:i:s') }}</td>
				<td>{{ row.DiesStatus }}</td>
				<td>{{ row.PBilletActual }}</td>
				<td>{{ row.JumlahBillet }}</td>
				<td>
					{% set billet_weight = to_decimal(get_row_master('BilletWeight', '', row.section_id)) %}
					{% set jumlah_kg = to_decimal(get_jumlah_billet_kg(row.PBilletActual, row.JumlahBillet, billet_weight)) %}
					{{ jumlah_kg|replace('0', ' ') }}
				</td>
				<td>
					 {% set jml_billet =  jml_billet + row.JumlahBillet %}
					 {{ jml_billet|replace('0', ' ') }}
				</td>
				<td>
					{% set jml_kg =  jml_kg + jumlah_kg %}
					{{ jml_kg|replace('0', ' ') }}
				</td>
				<td></td>
				<td>{{ row.Problem }}</td>
				<td>{{ row.Koreksi }}</td>
				<td>{{ row.Korektor }}</td>
			</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="10">Data tidak tersedia</td>
			</tr>
		{% endif %}
	</tbody>
</table>