{% extends 'admin/layout.html.twig' %}

{% block content_title %}
	
{% endblock %}

{% block content %}

	<div class="row clearfix">

		<div class="col-md-12 col-sm-12 col-xs-12">

			<div class="card" style="width: 100%; margin: 0 auto !important;">

				<div class="header">
					<h2>
						Dies History Card
					</h2>
				</div>

				<div class="body">

                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li class="dies-tab active" role="presentation"><a href="#home" data-toggle="tab">By Dies Id</a></li>
                        <li class="dies-tab" role="presentation"><a href="#profile" data-toggle="tab">By Complete Set</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                            <form class="card-form" method="POST" action="{{ site_url('admin/dies/history_card_search') }}" target="_blank">
                            
                                <div class="form-group">
                                    <label>Sampai Tanggal</label>
                                    <br>
                                            
                                    <input class="date-bootstrap" name="tanggal" type="text" style="padding: 5px;" value="{{ date_now|date('d/m/Y') }}" required="required"/>   

                                </div>
                                
                                <div class="form-group">
                                    <label>Section</label>
                                    <br>
                                            
                                    <select class="form-control section" name="section" style="width: 40%;" required="required">
                                        <option value="">-- Silahkan Pilih --</option>
                                        {% if sections %}

                                            {% for section_row in sections %}

                                                <option value="{{ section_row.SectionId }}">
                                                    {{ section_row.SectionDescription }}
                                                </option>
                                            {% endfor %}

                                        {% endif %}
                                    </select>   

                                </div>

                                <div class="form-group">
                                    <label>Dies Id</label>

                                    <br>

                                    <select class="form-control dice" name="dice" style="width: 40%;" required="required">
                                        <option value="">-- Silahkan Pilih --</option>
                                        {% if dices %}

                                            {% for dice_row in dices %}

                                                <option value="{{ dice_row.DiesId }}">
                                                    {{ dice_row.DiesId }}
                                                </option>
                                            {% endfor %}

                                        {% endif %}
                                    </select>   

                                </div>

                                <div class="form-group">
                                    <input class="btn btn-primary" value="Submit" type="submit">
                                    <img class="loader not-show" src="{{ base_url('assets_app/images/loader.gif') }}"/>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                            </form>

                            <div class="result-card">
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">
                            <form method="post" class="card-form2" action="{{ site_url('admin/dies/history_card_search_index') }}">
                            <div class="form-group">
                                <label>Section</label>
                                <br>
                                        
                                <select class="form-control section2" name="section" style="width: 40%;" required="required">
                                    <option value="">-- Silahkan Pilih --</option>
                                    {% if sections %}

                                        {% for section_row in sections %}

                                            <option value="{{ section_row.SectionId }}">
                                                {{ section_row.SectionDescription }}
                                            </option>
                                        {% endfor %}

                                    {% endif %}
                                </select>   

                            </div>

                            <div class="form-group dies-year-wrap">
                                <label>Dies Year</label>

                                <br> 

                                <select class="dies-year" name="dies_year" style="width: 100px;"></select>
                            </div>

                            <div class="form-group dies-index-wrap">
                                <label>Dies Index</label>

                                <br>

                                <select class="form-control dice2" name="seqno" style="width: 40%;" required="required">
                                    {% if seqno %}

                                        {% for seq in seqno %}

                                            <option value="{{ seq.DiesSeqNo }}">
                                                {{ seq.DiesSeqNo }}
                                            </option>
                                        {% endfor %}

                                    {% endif %}
                                </select>   

                            </div>

                            

                            <div class="form-group">
                                <input class="btn btn-primary" value="Submit" type="submit">
                                <img class="loader not-show" src="{{ base_url('assets_app/images/loader.gif') }}"/>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            </form>

                            <div class="result-card">
                            </div>
                        </div>
                    </div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script type="text/javascript" src="{{ base_url('assets_app/js/date.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets_app/js/dies.js') }}"></script>
	<script type="text/javascript">

		window.DATE.init();
		window.DIES.handleFilterCard();
	</script>

{% endblock %}