{% extends 'admin/layout.html.twig' %}

{% block content_title %}
{% endblock %}

{% block content %}

	<div class="row clearfix">

		<div class="col-md-12 col-sm-12 col-xs-12">

			<div class="card" style="width: 70%; margin: 0 auto !important;">

				<div class="header">
					<h2>
						Dies Status
					</h2>
				</div>

				<div class="body">

					<form class="form-dies-idx" method="post" action="{{ site_url('admin/dies/filter') }}">
						<table class="table" style="width: 40%">
							<tr>
								<td colspan="2">
									<a class="btn bg-blue-grey waves-effect" href="{{ site_url('admin/dies/history') }}">
										<i class="material-icons">cached</i>
										Refresh
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<label>Pencarian</label>
								</td>
								<td>
									<input class="form-control dies-history-search">
								</td>
							</tr>
						</table>
					
					</form>

					<table class="table table-bordered dies-history-table" style="width: 100%; margin-top: -20px !important;">
						<thead>
							<tr align="center">
								<td><b>Tanggal</b></td>
								<td><b>Dies ID</b></td>
								<td><b>Status</b></td>
								<td><b>Note</b></td>
								<td><b>Lokasi</b></td>
								<td><b>Action</b></td>
							</tr>
						</thead>
						<tbody>
							{% if data %}

								{% for row in data %}
									{% set dies_status =  get_last_status_log_dies(row.DiesId) %}
									{% set dies_problem =  get_last_problem_log_dies(row.DiesId) %}
									{% set last_log = get_last_log_by_dies(row.DiesId) %}
									{% set datetime_log = get_last_datetime_log_dies(row.DiesId) %}

									{% set problem_id = "" %}
									{% set problem = "" %}
									{% set history_card = "" %}

									{% if dies_problem %}
										{% set problem_id = dies_problem['problem_id'] %}
										{% set problem = dies_problem['problem'] %}
									{% endif %}

									{% if last_log %}
										{% set history_card = last_log.DiesHistoryCardLogId %}
									{% endif %}
									<tr>
										<td>{{ datetime_log|date('d-m-Y') }}</td>
										<td>{{ row.DiesId }}</td>
										<td>{{ dies_status }}</td>
										<td>{{ problem }}</td>
										<td>{{ get_last_location_log_dies(row.DiesId) }}</td>
										<td align="center">
											<button class="btn btn-info btn-history" data-toggle="modal" data-target=".defaultModal" data-id="{{ history_card }}" data-dies="{{ row.DiesId }}" data-problem="{{ problem_id }}"
											onclick="window.DIES.handleModalHistory(this)">Button</button>
										</td>
									</tr>


								{% endfor %}

							{% endif %}
						</tbody>
					</table>

				</div>

			</div>

		</div>

	</div>
	
	<div class="modal fade defaultModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-md" >
		<div class="modal-content">
		
			<form class="form-problem" method="post" action="{{ site_url('admin/dies/save_problem')  }}">
				<div class="modal-header">
				    <h4 class="modal-title">
				    	<span class="title-modal">Problem Dies</span>
						<input class="dies-header-input" name="dies" type="hidden">
						<span class="dies-header-text"></span>
				    </h4>
				</div>
				<div class="modal-body content-modal-history">
					
				</div>
			</form>
		</div>
	</div>
	</div>

	
{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script type="text/javascript" src="{{ base_url('assets_app/js/dies.js') }}"></script>
	<script type="text/javascript">
		window.DIES.DiesHistoryDatatable();
		
	</script>

{% endblock %}